<div style="top: 0; right: 0; float: right" (click)="isHidden = !isHidden">
    <img src="../../images/chaticon.png" style="border: none; width: 25px; height: 25px">
</div>

<button class="button" style="float: left" (click)="logout()">Logout</button>


<div class="form top-animation">
    <h1 class="cursiveFont" style="color: #EA4335">
        go<span style="color: #4285F4">Board</span>
        </h1>
</div>


<div class="form montFont top-animation">
    <form>
        <input class="search" placeholder="Type description..." #note (blur)="onPress(note.value); note.value=''">
        <button class="button" (click)="onPress(note.value); note.value=''">Create!</button>
    </form>
</div>

<div class="outer montFont" [ng2-draggable]="true" *ngFor="let n of notes">
    <div [style.background-color]="n.bgcolor" class="notePos note-animation notePosNext">
        <button class="delete" (click)="removeNote(n)">X</button>
         <p contenteditable="true" >{{n.desc}}</p>
    </div>
</div>

<div *ngIf="isHidden">
    <div class="montFont" id="container">
        <div class="title">Chat box</div>
        <div #scrollMe class="chatbox">
               <div class="text" *ngFor="let message of messages">
                    {{message.text}}
                </div>
                <div class="textbox">
                <input type="text" placeholder="Chat here..." (keyup.enter)="sendMessage()" [(ngModel)]="message" />
                </div>
        </div>
    </div>
</div>

