<script src="../js/randomcolors.js"></script>
<div class="form">
    <h1>
        <span class="montFont" style="color: #4285F4">g</span>
        <span class="montFont" style="color: #34A853">o</span>
        <span class="montFont" style="color: #FBBC05">B</span>
        <span class="montFont" style="color: #EA4335">o</span>
        <span class="montFont" style="color: #4285F4">a</span>
        <span class="montFont" style="color: #34A853">r</span>
        <span class="montFont" style="color: #EA4335">d</span>
        </h1>
</div>

<div class="form montFont">
    <form>
        <input class="search" placeholder="Type description..." #note (blur)="onPress(note.value); note.value=''">
        <button class="button" (keyup.enter)="onPress(note.value)">Create!</button>
    </form>
</div>

<div class="outer montFont" [ng2-draggable]="true" *ngFor="let n of notes">
    <div [style.background-color]="n.bgcolor" class="notePos note-animation notePosNext">
         <p>{{n.desc}}</p>
    </div>
</div>
